[submodule "gfx"]
	path = gfx
	url = https://github.com/Cerwym/FXGraphics.git
	branch = develop
[submodule "sfx"]
	path = sfx
	url = https://github.com/Cerwym/FXsounds.git
	branch = develop
[submodule "deps/kfx"]
	path = deps/kfx
	url = https://github.com/Cerwym/kfx-deps.git
	branch = develop
[submodule "custom"]
	path = custom
	url = https://github.com/Cerwym/customsprites.git
	branch = develop
